<div class="mt-5 container" style="width: 35rem;">
    <h2 class="text-center"><%= title %></h2>
    <hr>
    <form method="POST", action="/edit/<%= data._id %>">
        <div class="form-group">
          <label for="example1">Title</label>
          <input value="<%= data.title %>" name="title" type="text" class="form-control" id="examp1">
        </div>
        <div class="form-group">
          <label for="example2">Avtor</label>
          <input value="<%= data.author %>" name="author" type="text" class="form-control" id="example2">
        </div>
        <div class="form-group">
            <label for="example3">Body</label>
            <textarea style="font-family: consolas; color: #df8484;" class="form-control" name="body" id="example3" cols="30" rows="6"><%= data.body %></textarea>
        </div>
        <button type="submit" style="font-family: consolas;" class="btn btn-info btn-sm">Send</button>
      </form>
</div>